<%= render 'layouts/customer_header' %>
	<div class="container clearfix">
		<h1 class="title">-<%= @genre.name %>-</h1>
		<% if @genre.is_active == true %>
			<div style=" width: 100%; margin: 20px auto;">
				<% @genre.items.each do |g| %>
					<div style="width: 300px; float: left; margin: 20px 5px 20px 0;">
						<%= link_to item_path(g.id) do %>
							<div style="width: 100px; float: left;">
								<%= attachment_image_tag g, :image, :image,fallback: "noimage.jpg" %>
								<%= g.name %>
								<%= g.price %>円
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		<% else %>
		<% end %>
	</div>
<%= render 'layouts/customer_footer' %>