<%= render 'layouts/customer_header' %>
<div class="container clearfix margintop">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'layouts/customer_sidebar' %>
		</div>
		<div class="col-xs-9">
			<h3 class="brown"><%= @genre.name %>
				<span class="brown" style="font-size: 15px;">（全<%= @genre.items.count %>件）</span>
			</h3>
			<% if @genre.items.present? %>
				<% @genre.items.each do |g| %>
					<div class="item-image" style="float: left; margin: 20px 20px 20px 0; width: 180px;">
						<%= link_to item_path(g.id) do %>
							<%= attachment_image_tag g, :image, fallback: "noimage.jpg", style:"max-width:100%;"%>
						<% end %>
						<%= link_to g.name, item_path(g.id), class: "brown itemlink" %>
						<p class="brown">¥<%= g.price + g.price / 10 %></p>
					</div>
				<% end %>
			<% else %>
				<p class="brown">商品がありません。</p>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>