<%= render 'layouts/customer_header' %>
	<div class="container">
		<div style="border: 1px solid black;">
			<%= image_tag "cake.jpg", style: "width: 100%;" %>
		</div>
		<div class="clearfix genre-box" style="width: 100%; padding: 20px 0;">
			<div style="text-align: center;">
				<%= link_to "全ての商品を見る", items_path, class: "btn btn-success", style: "margin-bottom: 35px;" %>
			</div>
			<% @genres.each do |g| %>
				<% if g.is_active == true %>
					<div class="col-xs-3" style="height: 200px; display: inline-block; border: 1px solid black; text-align: center; line-height: 200px;">
						<%= link_to g.name, genre_path(g.id) %>
					</div>
				<% else %>
				<% end %>
			<% end %>
		</div>
		<div style="border: 1px solid black; margin: 20px auto;"><%= image_tag "cake_menu.jpg" %>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>