<%= render 'layouts/customer_header' %>
	<div class="top1-ku clearfix">
		<div class="top2-ku">
			<%= link_to "全ての商品を見る", items_path, class: "btn btnpink2 top2-btn"%>
		</div>
		<div class="genre1-ku clearfix">
			<h2 class="title genre-title-ku">ジャンル一覧</h2>
			<% @genres.each do |g| %>
				<% if g.is_active == true %>
					<div class="genre2-ku col-xs-6 col-xs-offset-3">
						<%= link_to g.name, genre_path(g.id), class: "btn btnpink2"%>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="genre3-ku">
			<p>お探しのケーキは見つかりましたか？ <br>
			ながのCAKEではケーキだけでなく様々な商品を取り扱っております!</p>
			<%= link_to "全ての商品を見る", items_path, class: "btn"%>
		</div>
		<div class="genre4-ku clearfix">
			<div class="div1">
				<span>初めてのお買い物</span>
				<span>5,000円(税・送料込み)以上で使える</span>
				<p class="p1-ku">¥1,000</p>
				<p class="p2-ku">OFF</p>
				<p class="p3-ku">クーポン</p>
			</div>
			<div class="div2">
				<div class="div3">
					<span>Chocolate</span>
					<p class="choco-ku">🍫</p>
					<span>Special</span>
				</div>
			</div>
		</div>
		<div class="genre5-ku">
			<span>人気の商品</span>
		</div>
		<div class="genre6-ku">
			<div><span>滑らかクリームのプリン</span></div>
			<div><span>こだわりのクッキー(12種)</span></div>
			<div><span>花の香るマカロンケーキ</span></div>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>