<%= render 'layouts/customer_header' %>
	<div class="top1-ku clearfix">
		<div class="top2-ku">
			<%= link_to "全ての商品を見る", items_path, class: "btn btnpink2 top2-btn"%>
		</div>
		<div class="genre1-ku clearfix">
			<h2 class="title genre-title-ku">ジャンル一覧</h2>
			<% @genres.each do |g| %>
				<% if g.is_active == true %>
					<div class="genre2-ku col-xs-6 col-xs-offset-3">
						<%= link_to g.name, genre_path(g.id), class: "btn btnpink2"%>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="genre3-ku"></div>
		<div class="genre4-ku">
			<p>お探しのケーキは見つかりましたか？ <br>
			ながのCAKEではケーキだけでなく様々な商品を取り扱っております!</p>
			<%= link_to "全ての商品を見る", items_path, class: "btn"%>
		</div>
		<div class="genre5-ku"></div>
	</div>
<%= render 'layouts/customer_footer' %>