<%= render 'layouts/admin_header' %>
<div class="container">
	<h1 class="title">商品一覧</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ジャンル</th>
				<th>商品名</th>
				<th>価格</th>
				<th>販売ステータス</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<% if item.genre.is_active == true %>
					<tr>
						<td><%= item.genre.name %></td>
						<td><%= item.name %></td>
						<td><%= item.price %>円</td>
						<td><%= item.sales_status %></td>
						<td><%= link_to "詳細", admin_item_path(item.id), class: "btn btn-default" %></td>
						<td><%= link_to "編集", edit_admin_item_path(item.id), class: "btn btn-default" %></td>
					</tr>
				<% end %>
	        <% end %>
		</tbody>
	</table>

	<a href="/admin/items/new" class="btn btn-default"style="margin-bottom: 15px;" >商品追加</a>
	<br>
    <a href="/admins" class="btn btn-default" style="margin-bottom: 15px;">管理者 TOP</a>

</div>
<%= render 'layouts/admin_footer' %>
