<%= render 'layouts/admin_header' %>
<div class="container">

	<h1>商品一覧</h1>
	<table class="table">
		<thead>
			<tr>
				<th><h4>ジャンル</h4></th>
				<th><h4>商品名</h4></th>
				<th><h4>商品説明</h4></th>
				<th><h4>価格</h4></th>
				<th><h4>販売ステータス</h4></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
			<tr>
				<td><%= item.genre.name %></td>
				<td><%= link_to item.name, admin_item_path(item.id) %></td>
				<td><%= item.body %></td>
				<td><%= item.price %></td>
				<td><%= item.sales_status %></td>
			</tr>
	        <% end %>
		</tbody>
	</table>

	<a href="/admin/items/new">商品追加</a>
	<br>
    <a href="/admins">トップ</a>

</div>
<%= render 'layouts/admin_footer' %>
