<%= render 'layouts/admin_header' %>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1 class="title">商品追加</h1>

            <% if @item.errors.any? %>
			  <p style="color: red"><%= @item.errors.count %>件のERRORが発生しました</p>
			  <% @item.errors.full_messages.each do |message| %>
			    <p style="color: red"><%= message %></p>
			  <% end %>
			<% end %>

				<%= form_for(@item,url:admin_items_path) do |f| %>
				<table class="table" style="margin-bottom: 10px;">
					<tr>
						<th>ジャンル</th>
						<td><% @genres.each do |g| %>
						    <%= f.radio_button :genre_id, g.id %>
						    <%= g.name %><% end %></td>
					</tr>
					<tr>
						<th>商品名</th><td><%= f.text_field :name, autofocus: true, placeholder: "ケーキ", style: "width: 50%;", class: "form-control" %></td>
					</tr>
					<tr>
						<th>商品説明</th><td><%= f.text_area :body, placeholder: "この商品は〇〇です。", style: "width: 100%; height: 80px;", class: "form-control" %></td>
					</tr>
					<tr>
						<th>商品画像</th><td><%= f.attachment_field :image, placeholder: "image" %></td>
					</tr>
					<tr>
						<th>価格</th><td><%= f.text_field :price, style: "width: 30%;", class: "form-control" %></td>
					</tr>
				</table>
				<div style="text-align: center;">
					<%= f.submit '追加', class: "btn btn-default", style: "margin: 0;" %>
				</div>
			<% end %>
			<div style="text-align: center;">
				<%= link_to "商品一覧に戻る", admin_items_path, class: "btn btn-default", style: "margin: 15px 0" %>
			</div>

		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>