<%= render 'layouts/admin_header' %>

<div class="container">
	<h1 class="title">商品詳細</h1>
	<table class="table">
			<th>ジャンル</th>
			<th>商品名</th>
			<th>商品画像</th>
			<th>商品説明</th>
			<th>値段</th>
			<th>販売ステータス</th>
			<th></th>
			<th></th>
			<tr>
				<td><%= @item.genre.name %></td>
				<td><%= @item.name %></td>
				<td><%= attachment_image_tag @item, :image %></td>
				<td><%= @item.body %></td>
				<td><%= @item.price %></td>
				<td><%= @item.sales_status %></td>
				<td><%= link_to "編集", edit_admin_item_path, class: "btn btn-default" %></td>
				<td><%= link_to "削除", admin_item_path, method: :delete, class: "btn btn-default" %></td>
			</tr>
	</table>
	<%= link_to "商品一覧に戻る", admin_items_path, class: "btn btn-default", style: "margin: 15px 0px;" %><br>
</div>

<%= render 'layouts/admin_footer' %>
