<%= render "layouts/admin_header" %>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>製作ステータス変更</h2>
				<div>
					<h3>注文情報</h3>
					<p>注文番号：<%= @order_item.id %></p>
					<p>注文日時：<%= @order_item.order.created_at.strftime('%Y/%m/%d') %></p>
					<p>購入者：<%= @order_item.order.customer.name_last_kanji %><%=@order_item.order.customer.name_first_kanji %></p>
				</div>
				<p>商品名：<%= @order_item.item.name %><br><br>

				<h3>製作状況</h3>
				<%= form_for @order_item, url:admin_order_item_path(@order_item) do |f| %>
		    		<lavel class="status"><%= f.radio_button :making_status, :着手不可 %>
		    		着手不可	</lavel>
		    		<lavel class="status"><%= f.radio_button :making_status, :製作待ち %>
		    		製作待ち</lavel>
		    		<lavel class="status"><%= f.radio_button :making_status, :製作中 %>
		    		製作中</lavel>
		    		<lavel class="status"><%= f.radio_button :making_status, :製作完了 %>
		    		製作完了</lavel><br>
		    		<%= f.submit '更新', class:"btn btn-default", style: "margin: 15px 0;" %>
	    		<% end %>

				<%= link_to '戻る', admin_order_path(@order_item.order_id), class:"btn btn-default", style: "margin-bottom: 15px;"  %>

			</div>
		</div>
	</div>
<%= render "layouts/admin_footer" %>