<%= render 'layouts/admin_header' %>
<h1>管理者機能一覧</h1>
<main class="feature-box clearfix">
	<div style="width: 300px; height: 300px;">
		<%= link_to "商品一覧", admin_items_path %>
	</div>
	<div style="width: 300px; height: 300px;">
		<%= link_to "注文履歴一覧", admin_orders_path %>
	</div>
	<div style="width: 300px; height: 300px;">
		<%= link_to "ジャンル一覧", admin_genres_path %>
	</div>
	<div style="width: 300px; height: 300px;">
		<%= link_to "顧客一覧", admin_customers_path %>
	</div>
</div>
<%= render 'layouts/admin_footer' %>
