

<%= render 'layouts/admin_header' %>

<div class="container">
	<div class="row">
		<div class="col">

			<table class="table col-lg-9">
				<caption>顧客一覧</caption>
				<thead>
					<tr>
						<th>氏名</th>
					</tr>
				</thead>
				<tbody>
					<% @customers.each do |customer| %>
						<tr>
							<td>
								<%=link_to admin_customer_path(customer.id) do %>
									<%= customer.name_last_kanji %>
									<%= customer.name_first_kanji %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= link_to 'トップ', admins_path %>

		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>
