<%= render 'layouts/admin_header' %>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2 class="title">会員詳細</h2>
			<table class="table">
				<tr>
					<th>顧客ID</th>
					<td><%= @customer.id %>
						<% if @customer.deleted_at.nil? %>
							<span style="background-color: blue; color: white; border-radius: 5px; padding: 5px; float: right;">有効</span>
						<% else %>
							<span  style="background-color: red; color: white; border-radius: 5px; padding: 5px; float: right;">退会済み</span>
						<% end %>
					</td>
				</tr>
				<% if @customer.deleted_at.nil? %>
				<tr>
					<th>登録日</th>
					<td><%= @customer.created_at.strftime("%Y年%m月%d日") %></td>
				</tr>
				<% else %>
				<tr>
					<th>退会日</th>
					<td><%= @customer.deleted_at.strftime("%Y年%m月%d日") %></td>
				</tr>
				<% end %>
				<tr>
					<th>氏名</th>
					<td>
						<%= @customer.name_last_kanji %>
						<%= @customer.name_first_kanji %>
					</td>
				</tr>
				<tr>
					<th>フリガナ</th>
					<td>
						<%= @customer.name_last_kana %>
						<%= @customer.name_first_kana %>
					</td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td><%= @customer.addresses.first.postal_code %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= @customer.addresses.first.address %></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><%= @customer.phone_number %></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><%= @customer.email %></td>
				</tr>
			</table>
			<% if @customer.deleted_at.nil? %>
				<div style="text-align: right">
					<span>
						<%= link_to "編集", edit_admin_customer_path(@customer), class: "btn btn-default", style:"margin-right: 10px;" %>
					</span>
					<span>
						<%= link_to "退会", admin_customer_path(@customer), method: :delete, data: {confirm: "本当に退会させますか？"}, class: "btn btn-default" %>
					</span>
				</div>
			<% end %>
			<div style="text-align: center">
				<%= link_to '顧客一覧に戻る', admin_customers_path, class: "btn btn-default", style: "margin: 30px 0;" %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>
