<%= render 'layouts/admin_header' %>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1 class="title">顧客詳細</h1>
			<table class="table col-lg-9">
				<thead>
					<tr>
						<th>氏名(漢字)</th>
						<td>
							<%= @customer.name_last_kanji %>
							<%= @customer.name_first_kanji %>
						</td>
					</tr>
					<tr>
						<th>氏名(カナ)</th>
						<td>
							<%= @customer.name_last_kana %>
							<%= @customer.name_first_kana %>
						</td>
					</tr>
					<tr>
						<th>email</th>
						<td><%= @customer.email %></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td><%= @customer.phone_number %></td>
					</tr>
					<% @customer.addresses.each do |a| %>
					<tr>
						<th>配送先<%= @number += 1 %></th>
						<td><%= a.address %></td>
					</tr>
					<% end %>
				</thead>
			</table>

			<div style="text-align: center">
				<%= link_to "退会", admin_customer_path(@customer), class: "btn btn-default" %><br>

			    <%= link_to '顧客一覧に戻る', admin_customers_path, class: "btn btn-default", style: "margin: 15px 0;" %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>
