<%= render "layouts/admin_header" %>

<div class="container">
	<div class="row">
		<div class="col-xs-4  col-xs-offset-4">
			<h3 class="title">注文情報</h3>
			<table class="table table table-bordered">
				<tr>
					<th>注文ID</th><td><%= @order.id %></td>
				</tr>
					<tr>
						<th>注文日時</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
					</tr>
				<tr>
					<th>購入者</th><td><%= @order.customer.name_last_kanji %>　<%=@order.customer.name_first_kanji %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6  col-xs-offset-3">
			<h3 class="title">注文ステータス</h3>
			<div style="text-align: center;">
			<%= form_for @order, url:admin_order_path do |f| %>
	    		<lavel class="status"><%= f.radio_button :order_status, :入金待ち %>
	    		入金待ち</lavel>
	    		<lavel class="status"><%= f.radio_button :order_status, :入金確認 %>
	    		入金確認</lavel>
	    		<lavel class="status"><%= f.radio_button :order_status, :製作中 %>
	    		製作中</lavel>
	    		<lavel class="status"><%= f.radio_button :order_status, :発送準備中 %>
	    		発送準備中</lavel>
	    		<lavel class="status"><%= f.radio_button :order_status, :発送済み %>
	    		発送済み</lavel><br>
	    		<%= f.submit '更新', class:"btn btn-default", style: "margin-top: 30px;" %>
    		<% end %>
			<%= link_to '戻る', admin_orders_path, class:"btn btn-default", style: "margin: 15px;" %>
			</div>
		</div>
	</div>
</div>

<%= render "layouts/admin_footer" %>