<header>
	<%= render "layouts/admin_header" %>
</header>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="headline">注文ステータス変更</h2>

				<div class="">
					<h3>注文情報</h3>
					<p>注文番号：<%= @order.id %></p>
					<p>注文日時：<%= @order.created_at.strftime('%Y/%m/%d') %></p>
					<p>注文者：<%= @order.customer.name_last_kanji %><%=@order.customer.name_first_kanji %></p>
				</div>

				<br>
				<br>
				<%= form_for @order, url:admin_order_path do |f| %>
					<%= f.select :order_status, Order.order_statuses.keys.to_a, {} %>
					<%= f.submit "更新", class:"btn btn-default" %>
				<% end %>

				<%= link_to '戻る', admin_orders_path %>

			</div>
		</div>
	</div>
</body>

<footer>
	<%= render "layouts/admin_footer" %>
</footer>