<%= render "layouts/admin_header" %>

<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="title">注文一覧</h2>
			<table class="table">
				<thead>
					<th>購入日時</th>
					<th>購入者</th>
					<th>注文個数</th>
					<th>注文ステータス</th>
					<th></th>
				</thead>
				<tbody>
					<% @orders.each do |o| %>
						<tr>
							<td><%= o.created_at.strftime('%Y/%m/%d %T') %></td>
							<td><%= o.customer.name_last_kanji %><%= o.customer.name_first_kanji %></td>
							<td><%= o.order_items.count %></td>
							<td><%= o.order_status %></td>
							<td><%= link_to '詳細',admin_order_path(o), class:"btn btn-default" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @orders, class: "paginate" %><br>
			<div style="text-align: center;">
				<%= link_to '管理者TOP', admins_path, class: "btn btn-default", style: "margin: 30px;" %>
			</div>
		</div>
	</div>
</div>

<%= render "layouts/admin_footer" %>

