<%= render 'layouts/admin_header' %>
	<div class="container">
		<h1>ジャンル編集画面</h1>
		<table class="table">
			<th>ジャンル名</th>
			<th>取り扱い状況</th>
			<th></th>
			<%= form_for(@genre) do |f| %>
				<tr>
					<td>
						<%= f.text_field :name %>
					</td>
					<td>
						<%= f.check_box :is_active %>
					</td>
					<td>
						<%= f.submit "変更保存" %>
						<!-- リダイレクトがおかしい -->
					</td>
				</tr>
			<% end %>
		</table>
		<div>
			<button style="padding: 5px 15px; margin: 5px;"><%= link_to "ジャンル一覧へ", admin_genres_path %></button>
		</div>
	</div>
<%= render 'layouts/admin_footer' %>
