<%= render 'layouts/admin_header' %>

<div class="container">
	<div class="row">
		<% if flash[:notice] %>
  			<p style="color: lime"><%= flash[:notice] %></p>
		<% end %>
		<div class="col-xs-6 col-xs-offset-3">
			<h2 class="title">ジャンル追加</h2>
		        <% if @genre.errors.any? %>
					<p style="color: red; text-align: center;"><%= @genre.errors.count %>件のERRORが発生しました</p>
					<% @genre.errors.full_messages.each do |message| %>
					<p style="color: red; text-align: center;"><%= message %></p>
					<% end %>
				<% end %>
				<table class="table">
					<th>ジャンル名</th>
					<th>取り扱い状況</th>
					<th></th>
					<%= form_for @genre, url:admin_genres_path do |f| %>
						<tr>
							<td>
								<%= f.text_field :name, class: "form-control", style: "width: 70%;" %>
							</td>
							<td>
								有効　<%= f.check_box :is_active %>
							</td>
							<td>
								<%= f.submit "追加", class: "btn btn-default" %>
							</td>
						</tr>
					<% end %>
				</table>
			<h2 class="title">ジャンル一覧</h2>
			<table class="table">
				<thead>
					<tr>
						<th>ジャンル名</th>
						<th>状態</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @genres.each do |g| %>
						<tr>
							<td><%= g.name %></td>
							<td>
								<% if g.is_active == true %>
									<span>有効</span>
								<% else %>
									<span style="color: red">無効</span>
								<% end %>
							</td>
							<td><%= link_to '編集', edit_admin_genre_path(g) ,class: "btn btn-default" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div style="text-align: center;">
				<%= paginate @genres, class: "paginate" %>
			</div>
			<div style="text-align: center;">
				<%= link_to "管理者TOP", admins_path, class: "btn btn-default", style: "margin: 30px;" %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>