<%= render 'layouts/admin_header' %>
	<div class="container">
		<h1 class="title">ジャンル一覧画面</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ジャンルID</th>
					<th>ジャンル名</th>
					<th>取り扱い状況</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
			<% @genres.each do |f| %>
				<tr>
					<td>
						<%= f.id %>
					</td>
					<td>
						<%= f.name %>
					</td>
					<td>
						<% if f.is_active == true %>
							<span>取り扱い中</span>
						<% else %>
							<span>取り扱い中止</span>
						<% end %>
					</td>
					<td>
						<%= link_to "編集", edit_admin_genre_path(f.id), class: "btn btn-default" %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate @genres, class: "paginate" %><br>

		<%= link_to "ジャンル追加", new_admin_genre_path, class: "btn btn-default", style: "margin: 15px 0;" %><br>
		<%= link_to "管理者TOP", admins_path, class: "btn btn-default", style: "margin-bottom: 15px;" %>
		</div>
	</div>
<%= render 'layouts/admin_footer' %>