<%= render 'layouts/admin_header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		<% if flash[:notice] %>
  			<p style="color: lime"><%= flash[:notice] %></p>
		<% end %>
			<h2 class="title brown">ジャンル追加</h2>
		        <% if @genre.errors.any? %>
					<p class="title red"><%= @genre.errors.count %>件のERRORが発生しました</p>
					<% @genre.errors.full_messages.each do |message| %>
					<p class="title red"><%= message %></p>
					<% end %>
				<% end %>
				<div class="clearfix title">
					<%= form_for @genre, url:admin_genres_path do |f| %>
						<div class="form-group form-inline" style="float: left;">
							<%= f.label :ジャンル名 %>
    						<%= f.text_field :name, class: "form-control", style: "width: 70%; margin-left: 10px;" %>
						</div>
						<span>有効　<%= f.check_box :is_active %></span>
						<div style="float: right;">	<%= f.submit "追加", class: "btn btn-default" %></div>
					<% end %>
				</div>
			<h2 class="title brown">ジャンル一覧</h2>
			<table class="table brown">
				<thead>
					<tr>
						<th>ジャンル名</th>
						<th>状態</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @genres.each do |g| %>
						<tr>
							<td><%= g.name %></td>
							<td>
								<% if g.is_active == true %>
									<span>有効</span>
								<% else %>
									<span>無効</span>
								<% end %>
							</td>
							<td><%= link_to '編集', edit_admin_genre_path(g), class: "btn btn-default", style: "float: right;" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="title">
				<%= paginate @genres, class: "paginate" %>
			</div>
			<div class="title">
				<%= link_to "管理者TOP", admins_path, class: "btn btn-default", style: "margin: 30px;" %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/admin_footer' %>