<%= render 'layouts/customer_header' %>
<div class="container margintop">
	<h2 class="title"><strong>マイページ</strong></h2>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div style="text-align: right;">
				<p style="margin-bottom: 10px;"><%= link_to "編集", edit_customer_path(@customer), class: "btnbrown" %>
				<%= link_to "パスワード変更", "#", class: "btnbrown" %></p>
			</div>
			<table class="table table-bordered">
				<tr>
					<th class="table-color">氏名</th>
					<td><%= @customer.name_last_kanji %><%= @customer.name_first_kanji %></td>
				</tr>
				<tr>
					<th class="table-color">フリガナ</th>
					<td><%= @customer.name_last_kana %><%= @customer.name_first_kana %></td>
				</tr>
				<% @address.first(1).each do |f| %>
				<tr>
					<th class="table-color">郵便番号</th>
					<td><%= f.postal_code %></td>
				</tr>
				<tr>
					<th class="table-color">住所</th>
					<td><%= f.address %></td>
				</tr>
				<% end %>
				<tr>
					<th class="table-color">電話番号</th>
					<td><%= @customer.phone_number %></td>
				</tr>
				<tr>
					<th class="table-color">メールアドレス</th>
					<td><%= @customer.email %></td>
				</tr>
			</table>
		    <div style="text-align: right; margin-bottom: 20px;">
		        <%= link_to "退会",customer_path(current_customer.id), method: :delete, data: {confirm: "退会するとアカウントが消去されます。よろしいですか？"}, class: "btnbrown" %>
		    </div>
		</div>
        <div style="text-align: center;">
			<div style="margin-bottom: 20px;" class="col-xs-6 col-xs-offset-3">
				<%= link_to "配送先一覧へ", addresses_path, class: "btnbrown" %>
			</div>

			<div style="margin-bottom: 30px;" class="col-xs-6 col-xs-offset-3">
				<%= link_to "注文履歴へ", customer_order_path(current_customer.id), class: "btnbrown" %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>



