<%= render 'layouts/customer_header' %>

<h2 class="title">マイページ</h2>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<table class="table table-bordered">
				<tr>
					<th>氏名</th>
					<td><%= @customer.name_last_kanji %><%= @customer.name_first_kanji %></td>
				</tr>
				<tr>
					<th>フリガナ</th>
					<td><%= @customer.name_last_kana %><%= @customer.name_first_kana %></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><%= @customer.phone_number %></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><%= @customer.email %></td>
				</tr>
				<tr>
					<th></th>
					<td>
						<%= link_to "編集", edit_customer_path(@customer), class: "btn btn-default" %>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><%= link_to "パスワード変更", "#", class: "btn btn-default" %></td>
				</tr>
			</table>
		</div>

		<div class="col-xs-6 col-xs-offset-3">
			<%= link_to "配送先一覧", addresses_path, class: "btn btn-default" %>
		</div>

		<div class="col-xs-6 col-xs-offset-3">
			<%= link_to "注文履歴", customer_order_path(current_customer.id), class: "btn btn-default" %>
		</div>

		<div class="col-xs-6 col-xs-offset-3">
			 <div style="text-align: center; margin-bottom: 40px;">
				<%= link_to "退会",customer_path(current_customer.id), method: :delete, data: {confirm: "退会するとアカウントが消去されます。よろしいですか？"}, class: "btn btn-danger" %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>



