<%= render 'layouts/customer_header' %>
<div class="container margintop">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h3 class="title brown"><strong>注文履歴一覧</strong></h3>
			<table class="table table-bordered brown" style="text-align: center;">
				<tr>
			 		<th class="backgroundbrown">注文ID</th>
			 		<th class="backgroundbrown">注文日</th>
			 		<th class="backgroundbrown">商品</th>
			 		<th class="backgroundbrown">配送先</th>
			 		<th class="backgroundbrown">注文ステータス</th>
			 		<th class="backgroundbrown">支払い金額</th>
			 		<th class="backgroundbrown"></th>
				</tr>
				<% @customer.orders.each do |f| %>
				 	<tr>
				 		<td style="vertical-align: middle;"><%= f.id %></td>
				 		<td style="vertical-align: middle;"><%= f.created_at.strftime("%Y年%m月%d日") %></td>
				 		<td style="vertical-align: middle">
				 			<% f.order_items.each do |o| %>
				 				<%= o.item.name %>
				 				<br>
				 			<% end %>
				 		</td>
				 		<td>
				 			〒<%= f.order_postal_code %>
				 			<br>
				 			<%= f.order_address %>
				 			<br>
				 			<%= f.order_name %>
				 		</td>
				 		<td style="vertical-align: middle"><%= f.order_status %></td>
				 		<td style="vertical-align: middle"><%= f.total_price %>円</td>
				 		<td style="vertical-align: middle; width: 130px;">
				 			<%= link_to "注文内容詳細", order_item_path(f.id), class: "btnbrown" %>
				 		</td>
				 	</tr>
				<% end %>
			</table>
			<div class="title">
				<br>
				<%= link_to "マイページへ", customer_path(@customer), class: "btnbrown", style: "margin-bottom: 40px;" %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>
