<%=render 'layouts/customer_header' %>
<div class="container">
	<h2 class="title">配送先</h2>
	<%= form_with model: current_customer, url: new_order_path do |f| %>
		<div class="col-xs-8 col-xs-offset-2">
			<table class="table">
				<tr>
					<th>名前(姓)</th><td><%= f.text_field :name_last_kanji %></td>
				</tr>
				<tr>
					<th>名前(名)</th>
					<td><%= f.text_field :name_first_kanji %></td>
				</tr>
				<tr>
					<th>フリガナ(姓)</th>
					<td><%= f.text_field :name_last_kana %></td>
				</tr>
				<tr>
					<th>フリガナ(名)</th>
					<td><%= f.text_field :name_first_kana %></td>
				</tr>
				<% current_customer.addresses.each do |a| %>
					<table class="table">
						<tr>
							<% if a.id == 1 %>
								<th>配送先　<%= f.radio_button :address_id, a.id, :checked => 'checked' %></th>
								<td>
									<span>〒</span>
									<%= a.postal_code %><br>
									<%= a.address %>
								</td>
							<% else %>
								<th>配送先　<%= f.radio_button :address_id, a.id %></th>
								<td>
									<span>〒</span>
									<%= a.postal_code %><br>
									<%= a.address %>
								</td>
							<% end %>
						</tr>
					</table>
				<% end %>
				<tr>
					<th></th>
					<td><%= f.submit "配送先決定", class: "btn btn-default" %></td>
				</tr>
			</table>
		</div>
	<% end %>
</div>
<%= render 'layouts/customer_footer' %>