<%=render 'layouts/customer_header' %>
<div class="container">
	<h2 class="title"><strong>配送先を選択</strong></h2>
	<%= form_with model: current_customer, url: new_order_path do |f| %>
		<div class="col-xs-8 col-xs-offset-2">
			<table class="table">
				<tr>
					<th>名前(姓)</th><td><%= f.text_field :name_last_kanji %></td>
				</tr>
				<tr>
					<th>名前(名)</th>
					<td><%= f.text_field :name_first_kanji %></td>
				</tr>
				<tr>
					<th>フリガナ(姓)</th>
					<td><%= f.text_field :name_last_kana %></td>
				</tr>
				<tr>
					<th>フリガナ(名)</th>
					<td><%= f.text_field :name_first_kana %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-10 col-xs-offset-2">
			<% current_customer.addresses.each do |a| %>
 				<% if a.id == 1 %>
						<th><strong>配送先</strong>　<%= f.radio_button :address_id, a.id, :checked => 'checked' %></th>
						<tr>
							<td>〒<%= a.postal_code %></td>
							<td><%= a.address %></td>
						</tr>
						<br>
						<br>
				<% else %>
						<th><strong>配送先</strong>　<%= f.radio_button :address_id, a.id%></th>
						<tr>
							<td>〒<%= a.postal_code %></td>
							<td><%= a.address %></td>
						</tr>
						<br>
						<br>
				<% end %>
			<% end %>
			<%= f.fields_for :address do |a| %>
				<label><%= f.radio_button :address_id, current_customer.addresses.count + 1 %> 新しい配送先を登録する </label><br>
				<label>〒<%= a.text_field :postal_code,placeholder: "郵便番号(ハイフンなし)", :class => "form-control edit-form" %></label>
				<br><label>住所<%= a.text_field :address, placeholder: "住所", :size => "60x15",:class => "form-control edit-form"%></label>

			<% end %>
			<div style="text-align: center; margin: 30px; transform: translateY(0%) translateX(-15%);">
				<th></th>
				<td><%= f.submit "配送先決定", class: "btn btnpink" %></td>
			</div>
		</div>
	<% end %>
</div>
<%= render 'layouts/customer_footer' %>