<%= render 'layouts/customer_header' %>
<div class="container margintop">
	<h2 class="title" style="color: #440000;"><strong>カート</strong></h2>
	<div style="width: 100%;">
		<% if @customer.carts.present? %>
		<div class="clearfix" style="width: 80%; margin-left: 100px;">
			<% if flash[:notice] %>
				<p class="brown"><%= flash[:notice] %></p>
			<% end %>
			<table class="table table-bordered">
				<caption class="brown" style="font-size: 25px;">ショッピングカート</caption>
				<thead>
					<tr>
						<th class="table-color">商品名</th>
						<th class="table-color">単価(税込)</th>
						<th class="table-color">数量</th>
						<th class="table-color">小計</th>
						<th class="table-color"></th>
					</tr>
				</thead>
				<tbody>
					<% @customer.carts.each do |ca| %>
						<tr>
							<td class="itemlink">
								<%= link_to item_path(ca.item_id) do %>
									<%= attachment_image_tag ca.item, :image, fallback: "noimage.jpg", style:"max-width:80px;"%>
								<% end %>
								<%= link_to ca.item.name, item_path(ca.item_id), class: "brown" %>
							</td>
							<td style="vertical-align: middle; text-align: center;">
								<%= ca.item.price + ca.item.price / 10 %>円
							</td>
							<%= form_for ca do |g| %>
								<td style="vertical-align: middle; text-align: center;">
									<%= g.select :quantity, options_for_select(@quantity, {selected: ca.quantity}) %>
								    <%= g.submit "数量変更", class: "btnbrown",style: "margin: 0 10px;" %>
								    <% @total = ca.item.price + ca.item.price / 10 %>
								    <td style="vertical-align: middle; text-align: center;">
								    	<%= @total_all = ca.quantity * @total %>円
								    </td>
								    <td style="vertical-align: middle; text-align: center;">
								    	<%= link_to "削除", cart_path(ca), method: :delete, class: "btnbrown" %>
								    </td>
							    </td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="col-xs-3 col-xs-offset-9">
				<table class="table table-bordered">
					<tr>
						<th>合計</th>
						<td>
							<span><%= @totalPriceAll %>円</span>
						</td>
					</tr>
				</table>
			</div>
			<div style="text-align: center; margin-bottom: 50px;">
				<%= link_to "買い物を続ける", items_path, class: "btnbrown" %>
				<%= link_to "購入画面に進む", orders_address_path, class: "btnbrown" %>
			</div>
			<h4 class="title"><strong>NEW!</strong></h4>
			<p class="title" style="margin-top: -18px; font-size: 10px;">新商品</p>
			<div class="brown">
				<div style="width: 100%; margin-left: 185px;">
					<% @items.each do |i| %>
						<div style="float: left; width: 170px; margin: 10px 13px 10px 0;">
							<%= link_to item_path(i.id) do %>
								<%= attachment_image_tag i, :image, fallback: "noimage.jpg", style:"max-width:100%;" %>
							<% end %>
							<br>
							<%= link_to i.name, item_path(i), style:"text-decoration: none; color: #440000;" %>
							<p><%= i.price + i.price / 10 %>円</p>
						</div>
					<% end %>
				</div>
			</div>
		<% else %>
			<h5 class="title" style="color: #440000;">お客様のカートに商品はありません。</h5>
			<br>
			<br>
			<div style="text-align: center;">
				<%= link_to "全ての商品を見る", items_path, class: "btnbrown" %>
			</div>
			<br>
			<br>
			<h4 class="title"><strong>NEW!</strong></h4>
			<p class="title" style="margin-top: -18px; font-size: 10px;">新商品</p>
			<div class="brown col-xs-8 col-xs-offset-3">
				<% @items.each do |i| %>
					<div style="float: left; width: 170px; margin: 10px 13px 10px 0;">
						<%= link_to item_path(i.id) do %>
							<%= attachment_image_tag i, :image, fallback: "noimage.jpg", style:"max-width:100%;" %>
						<% end %>
						<br>
						<%= link_to i.name, item_path(i), style:"text-decoration: none; color: #440000;" %>
						<p><%= i.price + i.price / 10 %>円</p>
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>