<%= render 'layouts/customer_header' %>
	<% if @customer.carts.present? %>
		<% @customer.carts.each do |c| %>
			<%= c.item.name %>
			<%= c.quantity %>
		<% end %>
		<%= link_to "カートを空にする", cart_path(@customer.carts), method: :delete %>
	<% else %>
		<h5 class="title">お客様のカートに商品はありません。</h5>
	<% end %>
<%= render 'layouts/customer_footer' %>