<%= render 'layouts/customer_header' %>
	<div class="container margintop">
		<div class="col-xs-6 col-xs-offset-3">
		    <h3 class="title brown"><strong>配送先編集</strong></h3>
			<%= form_for @address, url: address_path(@address.id) do |f| %>
				<table class="table table-bordered brown title">
					<tr>
						<th class="backgroundbrown">郵便番号</th>
						<td><%= f.text_field :postal_code, style: "width: 70%;" %></td>
					</tr>
					<tr>
						<th class="backgroundbrown">住所</th>
						<td><%= f.text_field :address, style: "width: 70%;" %></td>
					</tr>
				</table>

				<div class="title">
					<div style="margin-bottom: 25px;"><%= f.submit "変更", class: "btnbrown" %></div>
					<div style="margin-bottom: 30px;"><%= link_to "配送先一覧へ", addresses_path, class: "btnbrown" %></div>
				</div>
			<% end %>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>