
<%= render 'layouts/customer_header' %>

<% if flash[:notice] %>
  <p style="color: lime; text-align: center"><%= flash[:notice] %></p>
<% end %>

<h1 class="title">配送先一覧</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="col-xs-6 col-xs-offset-3">
				<div style="text-align: center;">

					<h3>配送先登録</h3>
					<%= form_for @address, url: addresses_path do |a| %>
						<table class="table">
							<tr>
							<th>郵便番号</th>
								<td><%= a.text_field :postal_code %></td>
							</tr>
							<tr>
							<th>住所</th>
								<td><%= a.text_area :address %></td>
							</tr>
						</table>
					<div style="text-align: center; margin-bottom: 40px;"><%= a.submit "追加", class: "btn btn-primary" %></div>
					<% end %>
					<h3>配送先</h3>
				</div>
				<% @customer.addresses.each do |f| %>
					<table class="table table-bordered">
						<tr>
							<th>住所</th>
							<td><%= f.address %></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= f.postal_code %></td>
						</tr>
					</table>
					<tr>
						<div style="text-align: center; margin-bottom: 40px;">
							<%= link_to "配送先を変更する",edit_address_path(f.id), class: "btn btn-default" %>
						</div>
					</tr>
				<% end %>
			</div>

		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>




