<%= render 'layouts/customer_header' %>
<div class="container clearfix">
	<div class="row">
		<div class="col-xs-3">
			<br>
			<br>
			<%= render 'layouts/sidebar' %>
		</div>
		<div class="col-xs-9">
			<br><br>
			<div class="form-box form-item">
				<%= form_tag(items_path,:method => 'get') do %>
				  <%= text_field_tag(:search, "", {placeholder: "商品名"}) %>
				  <%= submit_tag '検索', :name => nil %>
				<% end %>
			</div>
			<% if @items.blank? %>
				<h3 class="brown"><strong><%= params[:search] %> : 0件</strong></h3>
			<% elsif params[:search].present? && @items.present? %>
				<h3 class="brown"><strong><%= params[:search] %> : <%= @items.count %>件</strong></h3>
				<% @items.each do |i| %>
					<div class="item-image-c" style="float: left; width: 180px; margin: 20px 20px 20px 0;">
						<%= link_to item_path(i.id) do %>
							<%= attachment_image_tag i, :image, fallback: "noimage.jpg", style:"max-width:100%;" %>
						<% end %>
						<%= link_to i.name, item_path(i), style:"text-decoration: none; color: #333333;" %>
						<p><%= i.price + i.price / 10 %>円</p>
					</div>
				<% end %>
			<% else %>
				<h3 style="color: #440000;"><strong>全<%= @activeItem %>件</strong></h3>
				<% @items.each do |i| %>
					<% if i.genre.is_active == true %>
						<div class="item-image-c" style="float: left; width: 180px; margin: 20px 20px 20px 0;">
							<%= link_to item_path(i.id) do %>
								<%= attachment_image_tag i, :image, fallback: "noimage.jpg", style:"max-width:100%;" %>
							<% end %>
							<%= link_to i.name, item_path(i), style:"text-decoration: none; color: #333333;" %>
							<p><%= i.price + i.price / 10 %>円</p>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>
