<%= render 'layouts/customer_header' %>
<div style="width: 90%; padding-left: 100px;">
	<%= link_to root_path do %>
		<span>＞トップ</span>
	<% end %>
	<%= link_to genre_path(@item.genre_id) do%>
		<span>＞＞<%= @item.genre.name %></span>
	<% end %>
</div>
	<div class="container">
		<% if flash[:success] %>
			<%= flash[:success] %>
		<% end %>
			<div class="row  clearfix" style="width: 100%; margin-top: 50px;">
				<div class="col-xs-6" style="float: left; text-align: center;">
					<%= attachment_image_tag @item, :image,fallback: "noimage.jpg", style: "width:50%; margin-bottom: 10px; "%>
				</div>
				<div class="col-xs-6" style="border: height:auto; float: left; margin-bottom: 50px;">
					<h2><%= @item.name %></h2><br>
					<p><%= @item.body %></p>
					<h3>
						¥<%= @item.price + @item.price / 10 %>
					</h3>
					<% if @item.sales_status == true %>
						<span style="color: lime">販売中</span>
					<% else %>
						<span style="color: red">売り切れ</span>
					<% end %>
					<% if @item.sales_status == true %>
						<%= form_for @cart do |c| %>
							<%= c.hidden_field :item_id, :value => @item.id %>
							<%= c.select :quantity, options_for_select(@quantity) %>
							<%= c.submit "カートに入れる", class: "btn btn-default" %>
						<% end %>
					<% end %>
				</div>
				<div style="text-align: center; margin-bottom: 45px;">
					<%= link_to "カートを見る",carts_path, class: "btn btn-default" %>
				</div>
				<div class="row" style="margin: 50px auto; padding: 20px; border: 1px solid black; height: 300px;">
					なんでも
				</div>
			</div>
		</div>
<%= render 'layouts/customer_footer' %>