<%= render 'layouts/customer_header' %>
	<div class="container clearfix">
		<% if flash[:success] %>
			<%= flash[:success] %>
		<% end %>
		<div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 50px;">
			<div style="text-align: center;">
				<%= link_to "ジャンル一覧へ", genre_path(@item.genre_id), class: "btn btn-default" %>
			</div>
		<div style="border: 1px solid black; width: 300px; float: left; margin: 20px;">
			<%= attachment_image_tag @item, :image,fallback: "noimage.jpg", style: "max-width:100%;"%>
		</div>
		<div class="col-md-4">
			<h2><%= @item.name %></h2><br>
			<p><%= @item.body %></p>
			<h3>
				<%= @item.price + @item.price / 10 %>円(税込)
			</h3>
			<% if @item.sales_status == true %>
			<span style="color: lime">販売中</span>
			<% else %>
			<span style="color: red">売り切れ</span>
			<% end %>
			<% if @item.sales_status == true %>
				<%= form_for @cart do |c| %>
					<%= c.hidden_field :item_id, :value => @item.id %>
					<%= c.select :quantity, options_for_select(@quantity) %>
					<%= c.submit "カートに入れる", class: "btn btn-default" %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>

  <%= session[:user] %>