
<div class="container">
	<div class="row">
		<div class="col">
			<h1>注文内容詳細</h1>

			<% @order_items.each do |f| %>
				<ul class="list-group" style="max-width: 400px;">注文履歴番号
					<%= f.id %>
					<li class="list-group-item">注文日時　｜　<%= f.created_at.strftime("%Y/%m/%d") %> </li>
					<li class="list-group-item">商品番号　｜　<%= f.item_id %> </li>
					<li class="list-group-item">商品名　｜　<%= f.item.name %> </li>
					<li class="list-group-item">購入時の価格　｜　<%= f.price %>円</li>
					<li class="list-group-item">個数　｜　<%= f.quantity %></li>
					<li class="list-group-item">製作ステータス　｜　<%= f.making_status %></li>

				</ul>
			<% end %>

			<%= link_to "戻る", :back %>

		</div>
	</div>
</div>
