<%= render 'layouts/customer_header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2 class="title">注文内容詳細</h2>
			<% @order_items.each do |f| %>
				<table class="table table-bordered">
					<tr>
						<th>注文ID</th>
						<td><%= f.order_id %></td>
					</tr>
					<tr>
						<th>注文日時</th>
						<td><%= f.created_at.strftime("%Y/%m/%d") %></td>
					</tr>
					<tr>
						<th>商品ID</th>
						<td><%= f.item_id %></td>
					</tr>
					<tr>
						<th>商品名</th>
						<td><%= f.item.name %></td>
					</tr>
					<tr>
						<th>商品価格</th>
						<td><%= f.price %>円</td>
					</tr>
					<tr>
						<th>数量</th>
						<td><%= f.quantity %></td>
					</tr>
					<tr>
						<th>製作状況</th>
						<td><%= f.making_status %></td>
					</tr>
				</table>
			<% end %>
			<div style="text-align: center;">
				<%= link_to "マイページへ", current_customer, class: "btn btn-default", style: "margin-bottom: 30px;" %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>