<%= render 'layouts/customer_header' %>
<div class="container margintop">
  <h2 class="title"><strong>ログイン</strong></h2>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-xs-6 col-xs-offset-3 clearfix">
        <table class="table">
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btnbrown" %></td>
          </tr>
        </table>
        <% if devise_mapping.rememberable? %>
          <div class="field">
              <p class="brown"><%= f.check_box :remember_me %> 次回から入力を省略する</p>
          </div>
        <% end %>
        <%= render "customers/shared/links" %>
      </div>
    <% end %>
</div>
<%= render 'layouts/customer_footer' %>