<header>
    <nav class="navbar navbar-default" style="background-color: #440000;" >
        <div class="container">
        	<div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarlist">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
	            </button>
	            <%= link_to "ながのCAKE", admins_path, class: "navbar-brand", style: "color: #fff; font-size: 30px;" %>
        	</div>
			<% if admin_signed_in? %>
	        <div class="collapse navbar-collapse" id="navbarlist">
	            <ul class="nav navbar-nav navbar-right">
	                <li style="color: white;">
	                	<%= link_to destroy_admin_session_path, :method => :delete do %>
							<i class="fa fa-sign-out" style="color: white;"></i><span style="color: white;">　ログアウト</span>
						<% end %>
	                </li>
	                <li>
	                	<%= link_to admin_items_path do %>
	                		<i class="fa fa-birthday-cake" style="color: white;"></i><span style="color: white;">　商品一覧</span>
	                	<% end %>
	                </li>
	                <li>
	                	<%= link_to admin_orders_path do %><i class="fa fa-file" style="color: white;">
	                		</i><span style="color: white;">　注文履歴一覧</span>
	                	<% end %>
	                </li>
	                <li>
	                	<%= link_to admin_genres_path do %>
	                		<i class="fas fa-th" style="color: white;"></i><span style="color: white;">　ジャンル一覧</span>
	                	<% end %>
	                </li>
	                <li>
	                	<%= link_to admin_customers_path do %>
	                		<i class="fa fa-user" style="color: white;"></i><span style="color: white;">　顧客一覧</span>
	                	<% end %>
	                </li>
	            </ul>
	        </div>
	        <% end %>
        </div>
    </nav>
</header>
<div class="">
	<% if admin_signed_in? %>
		<p style="padding: 10px;">管理者ログイン中</p>
	<% end %>
</div>


