<header style="width: 100%; height: 200px; background-color: grey; text-align: center;">
		<span style="color: grey;">s</span>
		<% if admin_signed_in? %>
			<%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,:style => "color: white; text-decoration: none; border: 3px solid white; padding: 5px 10px; font-weight: 600; line-height: 100px; margin-left: 20px;" %>
			<%= link_to "商品一覧", admin_items_path,:style => "color: white; text-decoration: none; border: 3px solid white; padding: 5px 10px; font-weight: 600; line-height: 100px;" %>
			<%= link_to "注文履歴一覧", admin_orders_path,:style => "color: white; text-decoration: none; border: 3px solid white; padding: 5px 10px; font-weight: 600; line-height: 100px;" %>
			<%= link_to "ジャンル一覧", admin_genres_path,:style => "color: white; text-decoration: none; border: 3px solid white; padding: 5px 10px; font-weight: 600; line-height: 100px;" %>
			<%= link_to "顧客一覧", admin_customers_path,:style => "color: white; text-decoration: none; border: 3px solid white; padding: 5px 10px; font-weight: 600; line-height: 100px;" %>
		<% end %>
		<h1 style="font-size: 50px; color: #fff; "><%= link_to 'ながのCAKE', admins_path, :style=>"color:#fff;" "text-decoration:none;"  %></h1>
</header>
<% if admin_signed_in? %>
	<p style="padding: 10px;">管理者ログイン中</p>
<% end %>

